In [2]:
import pandas as pd
import numpy as np

# Lista de tickers do IBOV
tickers = ['PETR4', 'VALE3', 'ITUB4', 'BBDC4', 'B3SA3']

# Lista de datas
datas = ['2024-05-26', '2024-05-27']

# Gerando dados fictícios
np.random.seed(1)  # Para reprodutibilidade
data_spl_index = {
    'Ticker': np.tile(tickers, len(datas)),
    'Date': np.repeat(datas, len(tickers)),
    'Open': np.random.uniform(20, 100, size=len(tickers) * len(datas)),
    'Close': np.random.uniform(20, 100, size=len(tickers) * len(datas)),
    'Volume': np.random.randint(10000, 1000000, size=len(tickers) * len(datas))
}

# Criando o DataFrame com índice simples
df_spl_index = pd.DataFrame(data_spl_index)
df_spl_index = df_spl_index[['Date', 'Ticker', 'Open', 'Close', 'Volume']]

# Resetando o índice para ocultá-lo
df_spl_index = df_spl_index.reset_index(drop=True)

# Definindo o novo índice como "Date"
df_spl_index.index = df_spl_index['Date']

# Removendo a coluna duplicada "Date"
df_spl_index.drop(columns='Date', inplace=True)

# Exibindo o título
print("DataFrame com Índice Simples:")

# Exibindo o DataFrame final
df_spl_index

DataFrame com Índice Simples:

           Ticker       Open      Close  Volume
Date
2024-05-26  PETR4  53.361760  53.535561  901021
2024-05-26  VALE3  77.625959  74.817560  655097
2024-05-26  ITUB4  20.009150  36.356180  109335
2024-05-26  BBDC4  44.186606  90.249395  833615
2024-05-26  B3SA3  31.740471  22.191007  127565
2024-05-27  PETR4  27.387088  73.637401  800038
2024-05-27  VALE3  34.900817  53.384384  379977
2024-05-27  ITUB4  47.644858  64.695186  733457
2024-05-27  BBDC4  51.741398  31.230955  138896
2024-05-27  B3SA3  63.105339  35.848119  333900

In [6]:
# Lista de tickers do IBOV
tickers = ['PETR4', 'VALE3', 'ITUB4', 'BBDC4', 'B3SA3']

# Lista de datas
datas = ['2024-05-26', '2024-05-27']

# Lista de tipos de ações
tipos_act = ['Ordinária', 'Preferencial']

# Gerando dados fictícios
np.random.seed(1)
data_multi_index = {
    'Open': np.random.uniform(20, 100, size=len(datas)*len(tickers)*len(tipos_act)),
    'Close': np.random.uniform(20, 100, size=len(datas)*len(tickers)*len(tipos_act)),
    'Volume': np.random.randint(10000, 1000000, size=len(datas)*len(tickers)*len(tipos_act))
}

# Criando o MultiIndex com dados fictícios
index_levels = pd.MultiIndex.from_product([datas, tickers, tipos_act], names=['Date', 'Ticker', 'Tipo de ação'])

# Criando o DataFrame com MultiIndex
df_multi_index = pd.DataFrame(data_multi_index, index=index_levels)

# Exibindo o DataFrame com MultiIndex
print("DataFrame com MultiIndex:")
df_multi_index

DataFrame com MultiIndex:

                                     Open      Close  Volume
Date       Ticker Tipo de ação
2024-05-26 PETR4  Ordinária     53.361760  84.059565  403231
                  Preferencial  77.625959  97.460926  520148
           VALE3  Ordinária     20.009150  45.073934  677673
                  Preferencial  44.186606  75.385809  742527
           ITUB4  Ordinária     31.740471  90.111132  394738
                  Preferencial  27.387088  91.568533  941287
           BBDC4  Ordinária     34.900817  26.803537  872087
                  Preferencial  47.644858  23.124383  863274
           B3SA3  Ordinária     51.741398  33.586434  533929
                  Preferencial  63.105339  90.251400  609656
2024-05-27 PETR4  Ordinária     53.535561  27.867747   11046
                  Preferencial  74.817560  53.688610  646681
           VALE3  Ordinária     36.356180  96.631162  976339
                  Preferencial  90.249395  62.653223  684791
           ITUB4  Ordinária     22.191007  75.350169  224142
                  Preferencial  73.637401  45.241250  773159
           BBDC4  Ordinária     53.384384  74.920074  464013
                  Preferencial  64.695186  86.770054  636020
           B3SA3  Ordinária     31.230955  21.463062  616363
                  Preferencial  35.848119  80.011545  352949